{#
/**
 * Template LuizzBake
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
 */
?>
    <div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-3 border-bottom">
        <div class="d-flex align-items-center text-dark text-decoration-none">
            <h3><?= __('{{ pluralHumanName }}') ?></h3>
        </div>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    {% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
                    <?= $this->Html->link('<i class="fa-solid fa-circle-plus"></i>  Nuovo {{ singularHumanName }}', ['action' => 'add'], ['class' => 'btn btn-sm btn-outline-secondary','escape'=>false]) ?>
                </div>
            </div>            
        </nav>
    </div>

    {% set done = [] %}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
    {% for field in fields %}
                <th><?= $this->Paginator->sort('{{ field }}') ?></th>
    {% endfor %}
                <th class="actions">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
            <tr>
   {% for field in fields %}
    {% set isKey = false %}
    {% if associations.BelongsTo is defined %}
    {% for alias, details in associations.BelongsTo %}
    {% if field == details.foreignKey %}
    {% set isKey = true %}
                        <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if isKey is not same as(true) %}
    {% set columnData = Bake.columnData(field, schema) %}
    {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                        <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
    {% else %}
                        <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                <td class="actions">
                    <?= $this->Html->link('<i class="fa-solid fa-eye"></i>', ['action' => 'view', {{ pk|raw }}], ['class' => 'btn btn-sm btn-outline-secondary','escape'=>false]) ?>
                    <?= $this->Html->link('<i class="fa-solid fa-pen-to-square"></i>', ['action' => 'edit', {{ pk|raw }}], ['class' => 'btn btn-sm btn-outline-secondary','escape'=>false]) ?>
                    <?= $this->Form->postLink('<i class="fa-solid fa-trash"></i>', ['action' => 'delete', {{ pk|raw }}], ['confirm' => "Confermi la cancellazione dell'elemento ?",'class' => 'btn btn-sm btn-outline-secondary','escape'=>false]) ?>
                </td>
            </tr>
                    <?php endforeach; ?>
        </tbody>
    </table>

    <?= $this->element('navigation') ?>


