{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <?= $this->Html->link('Indice {{ pluralHumanName }}', ['action' => 'index'], ['class' => 'btn btn-sm btn-outline-secondary']) ?>
            <?= $this->Html->link('Modifica {{ singularHumanName }}', ['action' => 'edit', {{ pK|raw }}], ['class' => 'btn btn-sm btn-outline-secondary']) ?>
            <?= $this->Form->postLink('Elimina {{ singularHumanName }}', ['action' => 'delete', {{ pK|raw }}], ['confirm' => "Confermi la cancellazione dell'elemento ?", 'class' => 'btn btn-sm btn-outline-secondary' ]) ?>
            <?= $this->Html->link('Nuovo {{ singularHumanName }}', ['action' => 'add'], ['class' => 'btn btn-sm btn-outline-secondary']) ?>
            {% set done = [] %}
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><?= h(${{ singularVar }}->{{ displayField }}) ?></h3>
    </div>    
    <div class="card-body">
                    <table class="table table-sm table-bordered">
{% if groupedFields['string'] %}
{% for field in groupedFields['string'] %}
{% if associationFields[field] is defined %}
{% set details = associationFields[field] %}
                <tr>
                    <th class="col-2"><?= __('{{ details.property|humanize }}') ?></th>
                    <td class="col-10"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                </tr>
{% else %}
                <tr>
                    <th class="col-2" ><?= __('{{ field|humanize }}') ?></th>
                    <td class="col-10"><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endif %}
{% endfor %}
{% endif %}
{% if associations.HasOne %}
{% for alias, details in associations.HasOne %}
                <tr>
                    <th><?= __('{{ alias|underscore|singularize|humanize }}') ?></th>
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.number %}
{% for field in groupedFields.number %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.date %}
{% for field in groupedFields.date %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.boolean %}
{% for field in groupedFields.boolean %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= ${{ singularVar }}->{{ field }} ? __('Yes') : __('No'); ?></td>
                </tr>
{% endfor %}
{% endif %}
            </table>

{% if groupedFields.text %}
{% for field in groupedFields.text %}
            <div class="text">
                <strong><?= __('{{ field|humanize }}') ?></strong>
                <blockquote>
                    <?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
                </blockquote>
            </div>
{% endfor %}
{% endif %}

    </div>
</div>

<hr>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->

{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
            <div class="card bg-light">
                <?php if (!empty(${{ singularVar }}->{{ details.property }})) : ?>
                 
                <div class="card-body">
                    <h5 class="card-title border-bottom mb-3">{{ otherPluralHumanName }} collegati</h5>      
                    <table class="table table-sm table-striped table-hover">
                        <tr>
{% for field in details.fields %}
                            <th><?= __('{{ field|humanize }}') ?></th>
{% endfor %}
                            <th class="actions">&nbsp;</th>
                        </tr>
                        <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}) : ?>
                        <tr>
{% for field in details.fields %}
                            <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
{% endfor %}
{% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                            <td class="actions">
                                <?= $this->Html->link('<i class="fa-solid fa-eye"></i>', ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}], ['class' => 'btn btn-sm btn-outline-secondary','escape'=>false]) ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
                <?php endif; ?>
            </div>
            <hr>
{% endfor %}



